.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.header ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.header li{
    margin-left: 15px;
    padding: 10px 15px;
    color: white;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.header-letter {
    margin-top: 47px;
    margin-left: 50px;
    width: 65%;
}

.header-letter p {
    margin-top: 70px;
    font-weight: lighter;
    font-size: 50px;
    width: 65%;
}

.header-letter span {
    font-weight: bold;
}

.radial-background {
    background-image: radial-gradient(white, #f3e8f5, #f0f1fb, white, white, white);
    position: absolute;
    top: -150px;
    left: -350px;
    height: 700px;
    width: 700px;
    z-index: -2;
}

.logo-text {
    font-family: 'NunitoBold', sans-serif;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    width: max-content;
}

.header-nav-container {
    background-color: violet;
    background-image: linear-gradient(to bottom left,orange,rgb(224, 85, 224),rgb(133, 133, 245),lightblue);
    height: 500px;
    opacity: 0.7;
    width: 100%;
}
.container {
    display: grid;
    grid-template-rows: max-content max-content;
}
.moto {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
}
.moto p {
    color: #949397;
    width: 70%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-top: 30px;
}
.moto hr {
    height: 0px;
    width: 50px;
    align-self: center;
    margin-right: 20px;
}
.header-nav-container img{
        object-fit: cover;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-left: 50px;
        width: 86%;

    
}